@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap");

@theme {
  --font-script: "Cormorant Garamond", serif;
  --color-primary: #fdc700;
  --color-background: #fed496;
  --color-heading: #fa9f21;
  --color-secondary: #933f26;
  --color-card: #faddaa;
  --color-button: #fdc700;
  --color-counterCard: #ae2900;
}
